@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Tangerine:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: linear-gradient(#fad6a5,#FDFD96);
    font-family: sans-serif;
}
.banner{
    width: 375px;
    height: 340px;
    position: relative;
    margin: 0 auto;
    z-index: -1;
}
.banner img{
    width: 375px;
    position: absolute;
    top: 17%;
}
.top{
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}
@keyframes fadeInOut{
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.home_body{
    text-align: center;
    margin: 10px;
}
.col-md.col-lg.col-xl{
    margin-top: 20px;
    background-color: lavender;
    box-shadow: 2px 2px grey;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Peddana', serif;
}
.ornament{
    width: 300px;
    margin-top: 20px;
}
.home_body h1{
    font-size: 46px;
    font-weight: bolder;
    padding: 10px;
    color: #924dde;
    font-family: 'Tangerine', cursive;
}
.welcome{
    border: #924dde;
    border-style: double;
}
.home_body h3{
    font-size: 34px;
    font-family: 'Tangerine', cursive;
}
.home_body h4{
    font-size: 26px;
    padding: 15px;
    font-style: italic;
}
.home_body p{
    color: brown;
    margin: 10px;
    font-size: 24px;
    font-family: 'Peddana', serif;
}
.home_body a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.home_body button{
    padding: 15px;
    background-color: #924dde;
    border: 2px solid #924dde;
    border-radius: 5px;
}
.underline{
    height: 2px solid #924dde;
    border: 2px solid #924dde;
    border-radius: 15px;
    width: 50%;
    display: inline-block;
    justify-content: center;
}
.interior_photos img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px grey;
    margin: 15px;
}
#activities{
    background-color: #fad6a5;
}
#activities img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    transition: all 0.5s ease-in-out;
}
#activities img:hover{
    transform: scale(1.1);
}
.footer{
    margin-top: 20px;
    background-color: lavender;
    color: #924dde;
    text-align: center;
    padding: 10px;
    font-family: 'Peddana', serif;
}
.footer h1{
    font-size: 42px;
}
.footer h2{
    font-size: 32px;
}
.footer h3{
    font-size: 24px;
}
.footer a{
    color: #924dde;
    text-decoration: none;
}
.fa-facebook-official, .fa-instagram{
    padding: 15px;
}