@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Tangerine:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: linear-gradient(#fad6a5,#FDFD96);
    font-family: sans-serif;
}
.banner{
    width: 375px;
    height: 165px;
    position: relative;
    margin: 0 auto;
    z-index: -1;
}
.banner img{
    width: 375px;
    position: absolute;
    top: 17%;
}
.main{
    text-align: center;
    margin: 10px;
}
.location{
    margin: 15px 0;
    font-size: 38px;
    font-family: 'Tangerine', cursive;
}
.col-md.col-lg.col-xl{
    margin-top: 20px;
    background-color: lavender;
    box-shadow: 2px 2px grey;
    padding: 10px;
    font-family: 'Peddana', serif;
}
.main h2{
    font-size: 36px;
}
.underline{
    height: 2px solid #924dde;
    border: 2px solid #924dde;
    border-radius: 15px;
    width: 80%;
    display: inline-block;
    justify-content: center;
}
.main h4{
    font-size: 30px;
    font-style: italic;
}
.main p{
    font-size: 24px;
    color: brown;
}
.main a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.thumbnails{
    margin-top: 10px;
    width: 200px;
}
.btn{
    padding: 15px;
    background-color: #924dde;
    border: 2px solid #924dde;
    border-radius: 5px;
    margin-top: 10px;
}
.ornament{
    width: 300px;
    margin-top: 15px;
}
.footer{
    margin-top: 20px;
    background-color: lavender;
    color: #924dde;
    text-align: center;
    padding: 10px;
    font-family: 'Peddana', serif;
}
.footer h1{
    font-size: 42px;
    text-decoration: underline;
}
.footer h2{
    font-size: 32px;
}
.footer h3{
    font-size: 24px;
}
.footer a{
    color: #924dde;
    text-decoration: none;
}
.fa-facebook-official, .fa-instagram{
    padding: 15px;
}