<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>The Lauerman House & Victorian Inn</title>
</head>
<body>
    <div class="navbar">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="../templates/victorian_rooms.html">Rooms</a></li>
                <li><a href="#">Amenities</a></li>
                <li><a href="#">Food & Drink</a></li>
                <li><a href="#">Our Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="../static/images/lauerman.jpg" class="bottom">
        <img src="../static/images/victorian.jpeg" class="top">
    </div>
    <div class="home_body">
        <h1 class="welcome">Welcome to The Victorian Inn & The Lauerman House Inn</h1>
        <div class="col-md col-lg col-xl">
            <h3>The M & M Victorian Inn</h3>
            <div class="underline"></div>
            <h4>1393 Main Street | Marinette, WI</h4>
            <p>	Built in 1893 by a lumber baron, The M&M Victorian Inn’s Queen Anne style Victorian architecture features carved woodwork, exquisite leaded stained glass and massive curved wood staircase. We offer elegant accommodations in our five rooms, each complete with private luxurious baths.</p>
            <div class="interior_photos">
                <img src="../static/images/main_floor.jpg">
                <img src="../static/images/couches.jpg">
                <img src="../static/images/office.jpg">
                <img src="../static/images/bar.jpg">
            </div>
            <button><a href="">Book a Reservation</a></button>
        </div>
        <img class="ornament" src="../static/images/ornament.png">
        <div class="col-md col-lg col-xl">
            <h3>The Lauerman House Inn</h3>
            <div class="underline"></div>
            <h4>1975 Riverside Ave. | Marinette, WI</h4>
            <p>Built as the estate of local businessman Joseph A. Lauerman in 1910, The Lauerman House Inn features elaborate wood trim and original art glass chandeliers. One of the most impressive examples of colonial revival architecture in this part of the Midwest. The inside reveals a surprisingly modern and lively interior with seven luxurious rooms complete with private baths.</p>
            <div class="interior_photos">
                <img src="../static/images/main_floor2.jpg">
                <img src="../static/images/stairs.jpg">
                <img src="../static/images/bar2.jpg">
            </div>
            <button><a href="">Book a Reservation</a></button>
        </div>
        <img class="ornament" src="../static/images/ornament.png">
        <div class="col-md col-lg col-xl" id="activities">
            <h1>Lounge</h1>
            <img src="../static/images/lounge.jpg">
            <p>Join us at our 1393 Cocktail Lounge for nightly specials and entertainment. Try something different!</p>
            <h1>Indulge</h1>
            <img src="../static/images/food.jpg">
            <p>Let us host your next private event, cocktail party or business gathering!</p>
            <h1>Escape</h1>
            <img src="../static/images/chez_flottes.jpg">
            <p>Plan your next vacation or romantic getaway at our villa, Chez Flottes, in France.</p>
        </div>
    </div>
    <div class="footer">
        <div class="contact_info">
            <h1>Contact Us</h1>
            <div class="underline"></div>
            <h2>715.732.7800</h2>
            <h3>1975 Riverside Ave.</h3>
            <h3>Marinette, WI 54143</h3>
            <h3><a href="">innkeeper@mmvictorian.com</a></h3>
        </div>
        <!--Google Maps API Here-->
            <a href="/"><i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i></a>
            <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</body>
</html>