<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/rooms.css">
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>The Lauerman House & Victorian Inn</title>
</head>
<body>
    <div class="navbar">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <ul>
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Amenities</a></li>
                <li><a href="#">Food & Drink</a></li>
                <li><a href="#">Our Events</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <img src="../static/images/room_mm.jpg">
    </div>
    <div class="main">
        <h1 class="location">The M&M Victorian Inn</h1>
        <div class="underline"></div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/executive_suite.jpg">
            <h2>Executive Suite</h2>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>A large blue carpeted bedroom with an elegant Normandy queen-size bed, floral cotton chintz chaise lounge and stained glass windows. Curl up with a good book in the small glass-enclosed reading area located adjacent to the bed. The Master Bath Suite include an oval two-person whirlpool, pedestal sink, and separate glass enclosed ceramic tile shower and floor.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/wedgewood_suite.jpg">
            <h2>Wedgewood Suite</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>A large blue carpeted bedroom with a queen-sized bed featured a unique linen canopy, fireplace, a walkout porch and a queen-sized sleeper sofa. The Master Bath Suite includes a two-person Aqua glass whirlpool tub, glass shower and a black granite floor.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/portofino_room.jpg">
            <h2>Portofino Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>Average size carpeted bedroom with a queen-sized wood sleigh bed and antique dresser. Ivy and grapevines are the theme in the bath which has a combination tub/shower and marble floor. Beautiful bordeaux and beige grapevine window treatments.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/desert_sand.jpg">
            <h2>Desert Sand</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>A smaller carpeted room with a brass double-sized bed and a birdseye maple antique dresser. The marble floored bath has a shelled ceramic and glass shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <img class="ornament" src="../static/images/ornament.png">
        <h1 class="location">The Lauerman House Inn</h1>
        <div class="underline"></div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <div class="underline"></div>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
        <div class="col-md col-lg col-xl">
            <img class="thumbnails" src="../static/images/normandy_room.jpg">
            <h2>Normandy Room</h2>
            <h4>Rates: $178 (Sun-Th) | $188 (Fri-Sat)</h4>
            <p>This medium to large room features hardwood flooring covered by a colorful oriental rug, stained glass windows, antique mahogany dresser and handcrafted lamps with silk flowers. The marble floored bath includes a combination tub/shower.</p>
            <button class="btn"><a href="">Check Availability</a></button>
        </div>
    </div>
    <div class="footer">
        <div class="contact_info">
            <h1>Contact Us</h1>
            <div class="underline"></div>
            <h2>715.732.7800</h2>
            <h3>1975 Riverside Ave.</h3>
            <h3>Marinette, WI 54143</h3>
            <h3><a href="">innkeeper@mmvictorian.com</a></h3>
        </div>
        <!--Google Maps API Here-->
            <a href="/"><i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i></a>
            <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
</body>